{
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "transform": {
      "react": {
        "runtime": "automatic"
      }
    },
    "target": "esnext"
  },
  "module": {
    "type": "es6"
  }
}
